<style>
    #flowPicture .panel-body {
        padding: 0px;
    }
</style>
<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <input type='hidden' id="flowJson" name="row[flowcontent]" value=''>
    <div class="form-group">
        <label for="flowcode" class="control-label col-xs-12 col-sm-2">{:__('流程代码')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="flowcode" name="row[flowcode]" value="" data-rule="required;letters"/>
        </div>
    </div>
    <div class="form-group">
        <label for="flowname" class="control-label col-xs-12 col-sm-2">{:__('流程名称')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="flowname" name="row[flowname]" value="" data-rule="required"/>
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
