{layout name="common/layout" /}

<div class="container" id="content-container">

    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="article-content">
                        <div class="article-metas text-center">
                            <h1 class="metas-title">
                                {cms:page name="title" /}
                            </h1>
                            
                            <!-- E 标题区域 -->
                        </div>
                        <div class="article-text">
                            <!-- S 正文 -->
                            <p>
                                {cms:page name="content" /}
                            </p>
                            <!-- E 正文 -->
                        </div>

                        

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            
            <!--E 评论列表-->
        </div>
    </div>
</div>