<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('relief/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                        <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('relief/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('relief/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-import {:$auth->check('relief/import')?'':'hide'}" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> {:__('Import')}</a>

                        <div class="dropdown btn-group {:$auth->check('relief/multi')?'':'hide'}">
                            <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                            </ul>
                            <!-- <a href="javascript:;" class="btn btn-default" style="font-size:14px;color:dodgerblue;">
    <i class="fa fa-dollar"></i>
    <span class="extend">
        救助人数：<span id="views"></span>
        灭火次数：<span id="fireviews"></span>
    </span>
</a> -->
                        </div>

                        
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('relief/edit')}" 
                           data-operate-del="{:$auth->check('relief/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script id="customformtpl" type="text/html">
    <!--form表单必须添加form-commsearch这个类-->
    <form action="" class="form-commonsearch">
    <div class="row">
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3"> 
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-6 col-md-4 col-lg-3">{:__('Admin_ids')}:</label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <input type="hidden" class="operate" data-name="admin_ids" value="like"/>
                    <input id="c-category_ids" data-rule="required" data-source="auth/admin/selectpage"  data-field="nickname"  data-live-search="true" data-multiple="true" class="form-control selectpage" name="admin_ids" type="text" value="">
                </div>
            </div>
        </div>

         
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3"> 
            <div class="form-group">
                <label class="control-label col-md-4">{:__('Activitytime')}:</label>

                <div class="col-md-8">

                   <input type="hidden" class="operate" data-name="activitytime" value="RANGE"/>
                   <input type="text" class="form-control datetimerange" data-date-format="YYYY-MM-DD HH:mm:ss" name="activitytime" value="" />

               </div>

            </div>
        </div> 

<!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3"> 
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-6 col-md-4 col-lg-3">{:__('Addressname_ids')}:</label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <input type="hidden" class="operate" data-name="addressname_ids" value="="/>
                 <input id="c-addressname_ids" data-rule="required" data-source="category/selectpage" data-params='{"custom[type]":"dname"}' data-order-by="id desc" data-live-search="true" data-multiple="true" class="form-control selectpage" name="addressname_ids" type="text" value="">
                </div>
            </div>
        </div> -->

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <label class="control-label col-xs-12 col-sm-6 col-md-4 col-lg-3">{:__('Addressname_ids')}:</label> 
            <div class="form-inline col-xs-12 col-sm-6 col-md-4 col-lg-3" data-toggle="cxselect" data-selects="first,second,third">
            <select class="first form-control col-xs-12 col-sm-2" name="addressname_ids" data-url="ajax/category?type=dname&pid=0" ></select>
            <input type="hidden" class="form-control operate" data-name="addressname_ids" value="=" /> 
            <select class="second form-control col-xs-12 col-sm-2" name="mesh_ids" data-url="ajax/category?type=dname"
            data-query-name="pid"></select>
            <input type="hidden" class="form-control operate" data-name="mesh_ids" value="=" /> 
            <select  id="c-dname_ids" class="third form-control col-xs-12 col-sm-4" name="dname_ids" data-url="ajax/category?type=dname" data-rule="required" data-query-name="pid"></select>
            <input type="hidden" class="form-control operate" data-name="dname_ids" value="=" /> 
            </div>
        </div>
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">   
        <div class="form-group">
            <label class="control-label"></label>
            <div class="row">
                <div class="col-xs-6">
                    <input type="submit" class="btn btn-success btn-block" value="查询"/>
                </div>
                <div class="col-xs-6">
                    <input type="reset" class="btn btn-primary btn-block" value="重置"/>
                </div>
            </div>
        </div>
    </div>

</form>
</script>